body {
    background-image: linear-gradient(aqua, green);
    background-size: cover;
    background-repeat: no-repeat
    }

.form form {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0 auto;}

.form form input {
    padding: 10px 15%;
    margin: 15px auto;
    min-width: 150px;
    max-width: 1500px;

}
.message {
height: 100px
}
